body{
margin:2rem;
}

.home-slide{
    margin:2rem;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.purchase{
margin-top:2rem;
}

.position{
  position: relative;
  text-align: center;
  color: white;
  }